@use "./_variables.scss";

.layout {
  width: 100vw;
  min-height: 100vh;
  background: var(--color-fondo);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.page-container-layout {
  flex: 1;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 32px 20px 80px 20px;
}